PORT=3001
SEPOLIA_RPC_URL=
USDT_ADDRESS=
SHOP_WALLET_ADDRESS=
ORDER_SERVICE_URL=http://localhost:3000
OTEL_SERVICE_NAME=shop-payment-service
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318/v1/traces
